<p></p>
<tr>
  <td><%= vehicle.last_name %>, <%= vehicle.first_name %></td>
  <td><%= vehicle.email %></td>
  <td><%= vehicle.vehicle_type %></td>
  <td><%= vehicle.vehicle_name %></td>
  <td><%= vehicle.length %></td>
</tr>
